body {
  background-color: #E36166;
}

h1 {
  font-size: 9rem;
  color: aqua;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.recentScore {
  justify-content: flex-start;
}

.recentScore > button,
.recentScore > h2 {
  display: inline;
}

.addScore {
  justify-content: flex-end;
}

.addHeader {
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
}
